@import 'src/styles/typography';
@import 'src/styles/button';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --font-family: 'Nunito Sans', sans-serif;

  --main-bg-color: #E3E3E3;
  --primary-bg-color: #1890ff;
  --warning-bg-color: #F3D332;
  --main-contrast-color: #fff;
}

body {
  font-family: var(--font-family);
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  height: 100%;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 24px;
}

