@import 'src/styles/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --font-family: 'Nunito Sans', sans-serif;

  --main-bg-color: #E3E3E3;
  --primary-bg-color: #1890ff;
  --warning-bg-color: #F3D332;
  --main-contrast-color: #fff;
}

body {
  font-family: var(--font-family);
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  height: 100%;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 24px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.3s, background-color 0.8s, box-shadow 0.3s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 8px 16px;
  border-radius: 8px;
  will-change: box-shadow;

  &.warning {
    background-color: var(--warning-bg-color);
  }

  &.primary {
    background-color: var(--primary-bg-color);
    color: var(--main-contrast-color);
  }

  &.borderLess {
    border-radius: 0;
  }

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    pointer-events: none;
  }
}